entry-height = 460px
entry-width = 430px
imag = 430px

@font-face
   font-family Instagram
   font-style normal
   src url(../imgs/Billabong.ttf)

h1
	font-family: Instagram
	font-size: 50px
	margin-left: 10px

#instalogo
	width: 70px

body
	background-image: url('../imgs/noise.png')

.entry
	width: entry-width
	height: entry-height
	line-height: 20px
	float: left
	margin: 10px

.entry img
	width: imag
	height: imag

.entry .user
	font-weight: bold
	font-family: Arial
	font-size: 14px
	padding: 0px
	margin: 0px

#container
	overflow: hidden

footer
	font-family: Arial
	font-size: 12px
	font-weight: bold
	width: 500px
	margin-left: auto
	margin-right: auto
	color: gray

